<li><span class="title">{{title}}</span><span class="description">{{description}}</span><span class="callout">{{callout}}</span><span class="address">{{breaklines address}}</span><span class="phone">{{phone}}</span><span class="website"><a href="{{website}}">Visit Website</a></span></li>
